In [1]:
import pandas as pd
from datetime import date
import numpy as np

In [2]:
# if ModuleNotFoundError: No module named 'holidays'
# uncomment next line and run it once

# ! pip install holidays

In [3]:
import holidays

In [4]:
from datetime import timedelta

In [15]:
file_name = "result_2019.csv"  # sample dataset

In [16]:
data = pd.read_csv(file_name)

In [17]:
data["PICKUP_DATE"] = data["PICKUP_DATE"] .astype('datetime64[ns]')
data["COLLECT_DATE"] = data["COLLECT_DATE"] .astype('datetime64[ns]')

In [18]:
data

,COLLECT_DATE,PICKUP_DATE,CAR_TYPE,LOR,AVG_FARE,MIN_FARE,MAX_FARE,MEDIAN_FARE
0,2018-02-15,2019-01-04,Compact,2,80.81,33.800000,127.235000,78.600000
1,2018-02-15,2019-01-05,Compact,2,80.81,33.800000,127.235000,78.600000
2,2018-02-15,2019-01-04,Compact SUV,2,173.04,140.195000,196.140000,182.795000
3,2018-02-15,2019-01-05,Compact SUV,2,173.04,140.195000,196.140000,182.795000
4,2018-02-15,2019-01-04,Economy,2,78.28,33.735000,124.625000,75.465000
...,...,...,...,...,...,...,...,...
2245818,2020-01-01,2020-01-25,Standard SportsCar,30,46.06,41.304333,49.853333,47.019667
2245819,2020-01-01,2020-01-26,Standard SportsCar,30,46.06,41.304333,49.853333,47.019667
2245820,2020-01-01,2020-01-27,Standard SportsCar,30,46.06,41.304333,49.853333,47.019667
2245821,2020-01-01,2020-01-28,Standard SportsCar,30,46.06,41.304333,49.853333,47.019667
2245822,2020-01-01,2020-01-29,Standard SportsCar,30,46.06,41.304333,49.853333,47.019667

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245823 entries, 0 to 2245822
Data columns (total 8 columns):
COLLECT_DATE    datetime64[ns]
PICKUP_DATE     datetime64[ns]
CAR_TYPE        object
LOR             int64
AVG_FARE        float64
MIN_FARE        float64
MAX_FARE        float64
MEDIAN_FARE     float64
dtypes: datetime64[ns](2), float64(4), int64(1), object(1)
memory usage: 137.1+ MB

In [20]:
us_holidays = holidays.CountryHoliday('US', prov=None, state='CA')

In [21]:
# for ptr in holidays.US(years = 2020, state='CA').items(): 
#     print(ptr)

In [22]:
data["HOLIDAY"] = [int(x in us_holidays) for x in data["PICKUP_DATE"]]

In [23]:
# whether pick up date is one day before/after the public holiday
# one day before
# one day after
data["HOLIDAY BEFORE"] = [int(x + timedelta(days=1) in us_holidays) for x in data["PICKUP_DATE"]]
data["HOLIDAY AFTER"] = [int(x - timedelta(days=1) in us_holidays) for x in data["PICKUP_DATE"]]

In [24]:
data["TIME BEFORE RENTAL"] = ((data["PICKUP_DATE"] - data["COLLECT_DATE"])/ np.timedelta64(1, 'D')).astype(int)

In [25]:
data

,COLLECT_DATE,PICKUP_DATE,CAR_TYPE,LOR,AVG_FARE,MIN_FARE,MAX_FARE,MEDIAN_FARE,HOLIDAY,HOLIDAY BEFORE,HOLIDAY AFTER,TIME BEFORE RENTAL
0,2018-02-15,2019-01-04,Compact,2,80.81,33.800000,127.235000,78.600000,0,0,0,323
1,2018-02-15,2019-01-05,Compact,2,80.81,33.800000,127.235000,78.600000,0,0,0,324
2,2018-02-15,2019-01-04,Compact SUV,2,173.04,140.195000,196.140000,182.795000,0,0,0,323
3,2018-02-15,2019-01-05,Compact SUV,2,173.04,140.195000,196.140000,182.795000,0,0,0,324
4,2018-02-15,2019-01-04,Economy,2,78.28,33.735000,124.625000,75.465000,0,0,0,323
...,...,...,...,...,...,...,...,...,...,...,...,...
2245818,2020-01-01,2020-01-25,Standard SportsCar,30,46.06,41.304333,49.853333,47.019667,0,0,0,24
2245819,2020-01-01,2020-01-26,Standard SportsCar,30,46.06,41.304333,49.853333,47.019667,0,0,0,25
2245820,2020-01-01,2020-01-27,Standard SportsCar,30,46.06,41.304333,49.853333,47.019667,0,0,0,26
2245821,2020-01-01,2020-01-28,Standard SportsCar,30,46.06,41.304333,49.853333,47.019667,0,0,0,27
2245822,2020-01-01,2020-01-29,Standard SportsCar,30,46.06,41.304333,49.853333,47.019667,0,0,0,28

In [26]:
# average part starts:

In [27]:
new_data2 = data[data["TIME BEFORE RENTAL"] == 30]

In [28]:
new_data2

,COLLECT_DATE,PICKUP_DATE,CAR_TYPE,LOR,AVG_FARE,MIN_FARE,MAX_FARE,MEDIAN_FARE,HOLIDAY,HOLIDAY BEFORE,HOLIDAY AFTER,TIME BEFORE RENTAL
466427,2018-12-02,2019-01-01,Compact,5,68.16,20.928333,106.420000,82.373750,1,0,0,30
466428,2018-12-02,2019-01-01,Compact Convertible,5,187.71,144.710000,240.646000,172.768571,1,0,0,30
466429,2018-12-02,2019-01-01,Compact SUV,5,79.47,45.704444,108.004000,101.483000,1,0,0,30
466430,2018-12-02,2019-01-01,Economy,5,68.12,20.891667,106.372000,82.351250,1,0,0,30
466431,2018-12-02,2019-01-01,Economy Special,5,70.57,39.703750,105.894000,68.743333,1,0,0,30
...,...,...,...,...,...,...,...,...,...,...,...,...
2243952,2019-12-30,2020-01-29,Standard Elite SUV,30,55.81,53.221000,58.402667,55.811833,0,0,0,30
2243953,2019-12-30,2020-01-29,Standard Elite SportsCar,30,83.12,78.154000,88.087000,83.120500,0,0,0,30
2243954,2019-12-30,2020-01-29,Standard Pickup Regular Cab,30,41.65,41.652667,41.652667,41.652667,0,0,0,30
2243955,2019-12-30,2020-01-29,Standard SUV,30,47.72,41.245000,52.739000,47.623333,0,0,0,30
2243956,2019-12-30,2020-01-29,Standard SportsCar,30,50.54,49.853333,50.887333,50.886000,0,0,0,30

In [29]:
# avg for same car type, N days before
d_sort = new_data2.sort_values(by=['CAR_TYPE','PICKUP_DATE'])
car_type = new_data2["CAR_TYPE"].unique().tolist()

In [30]:
# # car type for loop %timeit whole data
# for i in range(0,1):
#     %timeit d_sub = d_sort[d_sort["CAR_TYPE"]==car_type[i]] 
#     d_sub = d_sub.reset_index(drop = True)
#     d_sub["AVG_BEFORE_DAYS"] = [d_sub["AVG_FARE"][max(0, i-15):i+1].mean() for i in range(0, len(d_sub["AVG_FARE"]))]

In [31]:
# d_sub = d_sort[d_sort["CAR_TYPE"]==car_type[1]] 
# d_sub = d_sub.reset_index(drop = True)
# d_sub["AVG_BEFORE_DAYS"] = [d_sub["AVG_FARE"][max(0, i-15):i+1].mean() for i in range(0, len(d_sub["AVG_FARE"]))]

In [32]:
for i in range(0,len(car_type)):
    d_sub = d_sort[d_sort["CAR_TYPE"]==car_type[i]] 
    d_sub = d_sub.reset_index(drop = True)
    d_sub["AVG_BEFORE_DAYS"] = [d_sub["AVG_FARE"][max(0, i-15):i+1].mean() for i in range(0, len(d_sub["AVG_FARE"]))]
    df_all = df_all.append(d_sub, ignore_index=True)

NameError: name 'df_all' is not defined

In [ ]:
df_all

In [ ]:
change = [(df_all["AVG_BEFORE_DAYS"][i + 1] - df_all["AVG_BEFORE_DAYS"][i])/df_all["AVG_BEFORE_DAYS"][i] for i in range(0, len(df_all["AVG_BEFORE_DAYS"])-1)] 
change.append(None)
df_all["CHANGE PERCENT"] = change

In [ ]:
df_all["CHANGE PERCENT"].describe()

In [ ]:
threshold = df_all["CHANGE PERCENT"].describe()["50%"]

In [ ]:
f = lambda x : "Increase" if x > threshold  else ("Decrease" if x < -threshold else "No change")
df_all["CHANGE"] = [ f(x) for x in df_all["CHANGE PERCENT"]]

In [ ]:
df_all

In [ ]:
df_all.to_csv("car 2019.csv")

In [5]:
file = "feat_extract_result_2019.csv"  # sample dataset
d =  pd.read_csv(file)

In [7]:
d["CHANGE PERCENT"].describe()

count    15443.000000
mean         0.001263
std          0.076647
min         -0.519146
25%         -0.007113
50%         -0.000684
75%          0.004423
max          5.322503
Name: CHANGE PERCENT, dtype: float64

In [11]:
threshold = d["CHANGE PERCENT"].describe()["50%"]

In [12]:
f = lambda x : "Increase" if x > threshold  else ("Decrease" if x < -threshold else "No change")
d["CHANGE"] = [ f(x) for x in d["CHANGE PERCENT"]]

In [13]:
d

,AVG_BEFORE_DAYS,AVG_FARE,CAR_TYPE,COLLECT_DATE,HOLIDAY,HOLIDAY AFTER,HOLIDAY BEFORE,LOR,MAX_FARE,MEDIAN_FARE,MIN_FARE,PICKUP_DATE,TIME BEFORE RENTAL,CHANGE PERCENT,CHANGE
0,68.160,68.16,Compact,2018-12-02,1,0,0,5,106.420,82.373750,20.928333,2019-01-01,30,-0.001247,Decrease
1,68.075,67.99,Compact,2018-12-03,0,1,0,6,106.420,82.638333,20.928333,2019-01-02,30,-0.007565,Decrease
2,67.560,66.53,Compact,2018-12-04,0,0,0,6,106.420,81.364583,20.476667,2019-01-03,30,-0.011249,Decrease
3,66.800,64.52,Compact,2018-12-05,0,0,0,6,124.090,74.810313,18.157143,2019-01-04,30,-0.020419,Decrease
4,65.436,59.98,Compact,2018-12-06,0,0,0,6,111.165,63.865714,19.818889,2019-01-05,30,-0.017310,Decrease
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15439,388.830,388.83,Fullsize Elite 2 Wheel Vehicle,2019-11-28,0,0,0,5,388.834,388.834000,388.834000,2019-12-28,30,0.000000,Increase
15440,388.830,388.83,Fullsize Elite 2 Wheel Vehicle,2019-11-29,0,0,0,5,388.834,388.834000,388.834000,2019-12-29,30,0.000000,Increase
15441,388.830,388.83,Fullsize Elite 2 Wheel Vehicle,2019-11-30,0,0,0,5,388.834,388.834000,388.834000,2019-12-30,30,0.000000,Increase
15442,388.830,388.83,Fullsize Elite 2 Wheel Vehicle,2019-12-01,0,0,1,5,388.834,388.834000,388.834000,2019-12-31,30,0.000000,Increase
15443,388.830,388.83,Fullsize Elite 2 Wheel Vehicle,2019-12-02,1,0,0,5,388.834,388.834000,388.834000,2020-01-01,30,NaN,No change

In [34]:
d.to_csv("car_feat_2019.csv")